<!DOCTYPE html>
<html>
<head>
    <title>Train Model</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/train_model.css') }}">
</head>
<body>
    <div class="centered-container">
        <h1>Train Your Model</h1>
        <form action="/train" method="post">
            <button class="btn btn-success">Start Training</button>
        </form>
        <a href="/" class="btn btn-secondary">Back to Home</a>
        {% if error %}
            <h2 style="color: red;">{{ error }}</h2>
        {% endif %}
        {% if success %}
            <h2 style="color: green;">{{ success }}</h2>
        {% endif %}
    </div>
    
</body>
</html>